
.title-name {

    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Amatic SC', cursive;
    /*font-weight: bold;*/
    font-size: 80px;
    /*color: #00FDC8;*/
}

#btn-signup{
	/*background-color: #00FDC8; */
	color: #9368e9;
}

.theme{
	color: #00FDC8;
}

.title-description {
	/*color: #00FDC8;	*/
}
/*.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}*/

.company-font {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.company-name {
    font-family: 'Amatic SC', cursive;
    color: #00FDC8;
    font-size: 40px;    
    /*background-color: blue;*/
}

/*.my-form-control {
    background-color: #482299;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

.form-number-input {

}

li a {
    line-height: 1.5;
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: 400;
}

.add-recipe {
    margin-left: 30px;    
}