{% extends "base_generic.html" %}

{% block content %}
<h1>Meal Plan Home</h1>

  <p>Welcome to <em>FreeRangeHuman</em>, BE FREE HUMANS. THE EARTH IS FLAT.</p>

<table border="1">
  <thead>
    <tr>
      <th>Weekly Meal Plan</th>
    </tr>
  </thead>
  <tbody>
    {% for meal_plan in meal_plans %}
      <tr>
        <td>
          <a href="{% url 'meal_plan' meal_plan.pk %}">{{meal_plan.meal_plans.date}}<br>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p><a href="{% url 'add_mealplan'%}">Add New Daily Meal</a><br></p>

<h2>Dynamic content</h2>

  <p>The kitchen has the following counts:</p>
  <ul>
    <li><strong>TAGS:</strong> {{ num_tags }}</li>
    <li><strong>INGREDIENTS:</strong> {{ num_ing }}</li>
  </ul>

<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}

