<body>
    <h2> Groceries </h2>
    <ul>
        {% for ing in groceries %}
            <a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Damazonfresh&field-keywords={{ing}}">
                <li>{{ ing }}</li>
            </a>
        {% endfor %}
    </ul>

    <h2> Pantry </h2>
    <ul>
        {% for ing in pantry %}
                <li>{{ ing }}</li>
        {% endfor %}
    </ul>

    <h2> Possible Recipes Given Pantry </h2>
    <ul>
        {% for recipe in posRecipes %}
            <li>{{ recipe.recipe_name}}</li>
        {% endfor %}
    </ul>
</body>