{% extends "theme/dashboard.html" %} {% block content %}
<div class="col-md-4">
    <div class="card">
        <div class="header">
            <h4 class="title">Daily Meal Plan</h4>
            <!-- <p class="category">User preferences to help determine meal plan </p> -->
        </div>
        <hr>
        <div class="content">
            <h4>{{ meal.meal_plans.date }}</h4>

<p> Meal Calories: {{calories}} </p>
<p> Calorie Goal: {{calGoalDelta}} </p>

<table border="1">
<thead>
    <tr>
      <th>Meals</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>
          <a href="{% url 'recipe' meal.meal_plans.meal1.pk %}">{{ meal.meal_plans.meal1.recipe_name }}</a><br>
        </td>
       </tr>
    <tr>
        <td>
          <a href="{% url 'recipe' meal.meal_plans.meal2.pk %}">{{ meal.meal_plans.meal2.recipe_name }}</a><br>
        </td>
    </tr>
    <tr>
        <td>
          <a href="{% url 'recipe' meal.meal_plans.meal3.pk %}">{{ meal.meal_plans.meal3.recipe_name }}</a><br>
        </td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
</div>
{% endblock %}
