{% extends "theme/dashboard.html" %} {% block content %}
<div class="col-md-4">
    <div class="card">
        <div class="header">
            <h4 class="title">Meal Plan</h4>
            <!-- <p class="category">User preferences to help determine meal plan </p> -->
        </div>
        <hr>
        <div class="content">
            <form method="post">
  {% csrf_token %}
  {{ Calendar_date.as_p }}
  {{ meal_plan.as_p }}
  <button type="submit">Save changes</button>
</form>
        </div>
    </div>
</div>
{% endblock %}

