{% extends "theme/dashboard.html" %} {% block content %}
<div class="col-md-4">
    <div class="card">
        <div class="header">
            <h4 class="title">Recipe List</h4>
        </div>
        <hr>
        <div class="content">
            <h4 class="add-recipe"><a href="{% url 'add_recipe' %}">Add new</a></h4>
            <ul>
                {% for recipe in recipes %}
                <li>
                    <a href="{% url 'recipe' recipe.pk %}">{{recipe.recipe_name}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

