{% extends "theme/dashboard.html" %} {% block content %}
<div class="col-md-4">
    <div class="card">
        <div class="header">
            <h4 class="title">Create</h4>
            <!-- <p class="category">User preferences to help determine meal plan </p> -->
        </div>
        <hr>
        <div class="content">
            <form method="post">
                {% csrf_token %} {{ recipe_form.as_p }} {{ instructions_form.as_p}}
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-fill col-md-12" type="submit">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}