{% extends "theme/dashboard.html" %} {% block content %}
<div class="col-md-6">
    <div class="card">
        <div class="header">
            <h4 class="title">Recipe</h4>
            <!-- <p class="category">User preferences to help determine meal plan </p> -->
        </div>
        <hr>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h2 class="title">{{recipe.recipe_name}}</h2>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nutritional Information</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Calories
                                                <br>
                                            </td>
                                            <td>
                                                {{ recipe.calories }}
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Servings
                                                <br>
                                            </td>
                                            <td>
                                                {{ recipe.servings }}
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Fat
                                                <br>
                                            </td>
                                            <td>
                                                {{ recipe.fat }}
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Carbs
                                                <br>
                                            </td>
                                            <td>
                                                {{ recipe.carb }}
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Protein
                                                <br>
                                            </td>
                                            <td>
                                                {{ recipe.protein }}
                                                <br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h4 class="title">Tags</h4>
                            <ul>
                                {% for tag in recipe.tags.all %}
                                <li>{{ tag.tag_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}