 {% extends 'theme/dashboard.html' %} {% block content %}
<div class="col-md-4">
    <div class="card">
        <div class="header">
            <h4 class="title">Sign up</h4>
            <!-- <p class="category">User preferences to help determine meal plan </p> -->
        </div>
        <hr>
        <div class="content">
            <form method="post">
                {% csrf_token %} 
                {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    <br> {{ field }} 
                    {% if field.help_text %}
                    <small style="color: grey">
                        {{ field.help_text }}
                    </small> 
                    {% endif %} 
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    to:
                    {% endfor %}
                </p>
                {% endfor %}
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-fill col-md-12" type="submit">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}